<header class="header">
  <nav class="navbar">
    <div class="navbar-brand">
      <a class="navbar-item" href="{{{or site.url (or siteRootUrl siteRootPath)}}}">
        <span class="icon"/>
      </a>
      <div class="navbar-item">{{site.title}}</div>
    </div>
  </nav>
</header>
